.footer-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  min-height: 534px;
}

.footer__items-conteiner {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__social-conteiner {
  display: flex;
  gap: 50px;
  height: 30px;
}

.footer__link-conteiner {
  font-size: 18px;
}

.apx-link {
  color: white;
}

@media (min-width: 960px) {
  .footer-conteiner {
    height: 600px;
  }

  .footer__items-conteiner {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 48px;
  }
}
